* { margin: 0; padding: 0; box-sizing: border-box; }
#home {
  height: 100vh;
  min-height: 56rem;
  background-image: url("cars2.jpg");
  background-size: cover;
  padding: 0 6.5%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.header_container {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 1rem 0 1rem 0;
  background: #00d7ff;
  position: absolute;
  top: 0;
  left: 0;
}
.header_container > h1 {
  color: #343954;
}
.headings {
  font-size: clamp(1.2rem, 6vw, 2.5rem);
  font-family: "Roboto", sans-serif;
}
#reg_form {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  width: 34rem;
  padding: 3rem 4rem;
  box-sizing: content-box;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.2);
}
#reg_form h1 {
  color: #f40386;
}
#reg_form input {
  height: 2.5rem;
  margin: 1rem 0;
  padding: 0 1rem;
  border-radius: 5px;
  border: none;
}
#records {
  height: auto;
  background: #0051ff6b;
  padding: 3rem 6.5%;
}
#records label {
  font-weight: bold;
  color: #f40386;
}
#records form div {
  margin-top: 1.5rem;
  display: flex;
}
#records select {
  height: 2.5rem;
  padding: 0 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
#records input {
  height: 2.5rem;
  margin: 0rem 1rem;
  padding: 0 1rem;
  border-radius: 5px;
  border: none;
  width: -webkit-fill-available;
  text-transform: capitalize;
}
#records button {
  height: 2.5rem;
  width: 10rem;
  border: none;
  color: white;
  background: #344756;
  font-weight: bold;
  border-radius: 5px;
}
#records table {
  margin-top: 1.5rem;
  width: 100%;
}
table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  height: 2.5rem;
  padding-left: 1.5rem;
  text-align: left;
  min-width: 10rem;
}
#records > div {
  overflow-x: auto;
}

@media only screen and (max-width: 600px) {
  #home {
    min-height: 40rem;
    margin-top: 2rem;
  }
  #records form div {
    flex-direction: column;
  }
  #records input {
    margin: 1rem 0;
  }
  #records button {
    margin-left: auto;
  }
  #reg_form {
    padding: 2rem 5%;
  }
}
