/* flex-direction: row-reverse;
flex-direction: row;
flex-direction: column;


.flexone{ flex: 1}
.flextwo{ flex: 2}
.flexthree{ flex: 1}


justify-content: space-between;
justify-content: space-around;
justify-content: center;
justify-content: start;
justify-content: end; */

*{margin: 0; padding: 0; box-sizing: border-box;}
section{width: 100%; background: cyan;}
section div{
  /* width: 30%; */
  flex-basis: 30%;
  padding: 20px;
  border: 1px solid black;
}
.flexone{ background: red}
.flextwo{ background: yellow}
.flexthree{ background: green}

@media (min-width: 768px) {

section{ display: flex;
  justify-content: space-between;
}
}
